In [1]:
from dwave_qbsolv import QBSolv
import numpy as np

from utils import *

In [2]:
qb = QBSolv()

/tmp/ipykernel_25759/1495861665.py:1: DeprecationWarning: QBSolv is deprecated as of the end of 2021 and support will be discontinued after March 2022. Please update your code to use dwave-hybrid or Leap's quantum-classical hybrid solvers instead.
  qb = QBSolv()

In [3]:
# simple double well Qubo
qarr = np.array([[4, -3],[-3, 2]])
qarr

array([[ 4, -3],
       [-3,  2]])

In [4]:
newq = adjust_offdiag_param(qarr, 10)
newq

array([[4., 7.],
       [7., 2.]])

In [5]:
doublewell = array2dict(qarr)
print(doublewell)

{(0, 0): 4, (0, 1): -3, (1, 0): -3, (1, 1): 2}

In [6]:
soln = qb.sample_qubo(doublewell)

In [7]:
soln

SampleSet(rec.array([([1, 1], -0., 20), ([0, 0], -0., 31)],
          dtype=[('sample', 'i1', (2,)), ('energy', '<f8'), ('num_occurrences', '<i8')]), Variables([0, 1]), {}, 'BINARY')

In [8]:
soln.to_pandas_dataframe()

   0  1  energy  num_occurrences
0  1  1    -0.0               20
1  0  0    -0.0               31

In [9]:
samples = soln.record['sample']

In [10]:
for samp in samples:
    en = compute_energy(qarr, samp)
    print(samp, en)

[1 1] 0
[0 0] 0